* {
    margin: 0;
    padding: 0;
    color: black
}

header {
    display: grid;
    grid-template-columns: 70px 1fr;
    background-color: rgb(193, 240, 236);
    top: 0;
}

nav ul {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;

}

nav a {
    text-decoration: none;
    justify-content: center;
    font-weight: bold;

}

nav a:hover {
    text-decoration: underline;
    color: sandybrown
}

body {
    background-color: #B3E7FA;
}

h1 {
    color: black;
    text-align: center;
    font-size: 75px;
}

p {
    color: black;
    font-size: 25px;
    text-align: left;
    margin: 20px;
}


main {
    background-color: rgb(255, 254, 253);
    padding: 25px;
    border-radius: 50px;
    margin: 10px;
}


footer {
    background-color: rgb(193, 240, 236);
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.hero {
    background-color: rgb(193, 240, 236);
}

.nav1 {
    display: flex;
    gap: 100px;
    background-color: rgb(193, 240, 236);
    margin: 50px;
    padding: 50px;
    border-radius: 50px;

}

.nav2 {
    display: flex;
    gap: 100px;
    background-color: rgb(193, 240, 236);
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}

.Tchiant {
    text-align: right;
}

.nav3 {
    display: flex;
    gap: 100px;
    background-color: rgb(193, 240, 236);
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}